---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/moi.jpg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, institute, research_areas } = profile

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Research Areas -->
	<section class="py-12 border-b bg-gray-50">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-6 text-gray-800">À propos de moi 📖​</h2>
        <p class="text-lg mb-6 text-gray-700">
            Je m'appelle <span class="font-bold">BERNARD Baptiste</span>, j'ai 19 ans et je suis en deuxième année de <span class="font-bold">BTS SIO</span> (Services Informatiques aux Organisations), option <span class="font-bold">SLAM</span>.
        </p>
        <p class="text-lg mb-6 text-gray-700">
            Avant d'intégrer le BTS SIO, j'ai obtenu un baccalauréat <span class="font-bold">STMG</span> (Sciences et Technologies du Management et de la Gestion) option <span class="font-bold">Mercatique</span>. C'est pendant cette formation que je me suis passionné pour l'informatique, notamment en découvrant des langages tels que Python et HTML.
        </p>
        <p class="text-lg mb-4 text-gray-700">
			Pendant mes deux années de BTS, j'ai réalisé <a href="/papers" class="underline text-black-500 font-semibold hover:text-blue-700">de nombreux projets</a> qui m'ont permis d'acquérir des compétences solides en <span class="font-bold">gestion de bases de données</span>, en <span class="font-bold">programmation</span>, ainsi qu'en <span class="font-bold">conception d'applications web et mobiles</span>. J'ai également travaillé avec des <span class="font-bold">API</span>, afin d'interagir avec des services externes.
		</p>


		<p class="text-lg mb-6 text-gray-700">
			Ces projets m'ont permis de travailler avec divers langages de programmation tels que 
			<span class="font-semibold">Java, PHP, HTML/CSS, JavaScript, Python, SQL</span>, 
			ainsi que des frameworks comme 
			<span class="font-semibold">Symfony, Bootstrap, et Tailwind</span>.
		</p>



        <p class="text-lg mb-6 text-gray-700">
            Par la suite, je souhaite poursuivre mes études pour me spécialiser dans le <span class="font-semibold">développement mobile</span>.
        </p>
    </div>
	</section>

	

	<!-- Recent Publications -->
	<section class='py-12 border-t'>
		<ArticleList listTitle='Mes Compétences' listItems={publications} />
	</section>
</Layout>
