---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/profile_pictures.jpg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, institute, research_areas } = profile

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Research Areas -->
	<section class="py-12 border-b bg-gray-50">
		<div class="container mx-auto text-center">
			<h2 class="text-3xl font-semibold mb-6 text-gray-800">À propos de moi 📖​</h2>
			<p class="text-lg mb-6 text-gray-700">
				Je m'appelle <span class="font-bold">BERNARD Baptiste</span>, j'ai 19 ans et je suis en deuxième année de BTS SIO (Services Informatiques aux Organisations), option SLAM.
			</p>
			<p class="text-lg mb-6 text-gray-700">
				Au cours de ma formation, j'ai acquis des compétences solides en gestion de bases de données ainsi qu'en conception d'applications web et mobiles. 
				J'ai travaillé sur des projets utilisant diverses langages comme <span class="font-semibold">Java, PHP, HTML/CSS, JavaScript, Python, SQL</span>, ainsi que des frameworks comme <span class="font-semibold">Symfony, Bootstrap, et Tailwind</span>.
			</p>
			<p class="text-lg mb-6 text-gray-700">
				Par la suite, je souhaite poursuivre mes études pour me spécialiser dans le développement mobile.
			</p>


		</div>
	</section>
	

	<!-- Recent Publications -->
	<section class='py-12 border-t'>
		<ArticleList listTitle='Mes Compétences' listItems={publications} />
	</section>
</Layout>
