---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
---

<Layout title="Mes Projets">
  <div class="prose max-w-none">
    <h1 class="text-4xl font-extrabold mb-8 text-center text-black">
      🚀 Mes Projets
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {publications.map((paper) => (
        <div 
          class="relative group max-w-sm bg-white border border-gray-300 rounded-2xl shadow-xl overflow-hidden transition-transform transform hover:scale-[1.05] hover:shadow-lg hover:border-gray-500"
        >
          {/* Image cliquable */}
          <img 
            class="rounded-t-2xl h-52 w-full object-contain transition-all duration-300 group-hover:opacity-80 cursor-pointer modal-trigger"
            src={paper.image}
            alt={paper.title}
            data-image={paper.image} 
          />

          <div class="absolute top-3 right-3 bg-gray-600 text-white text-xs px-3 py-1 rounded-full shadow-lg animate-pulse">
            {paper.date}
          </div>

          <div class="p-6 text-center">
            <h5 class="mb-2 text-2xl font-bold tracking-wide text-black group-hover:text-gray-700 transition-all duration-300">
              {paper.title}
            </h5>
            <p class="text-md text-gray-600 leading-relaxed">{paper.description}</p>

            {paper.showButton && (
            <a href={paper.link} target="_blank" class="inline-block mt-4 px-6 py-2 bg-gray-700 text-white text-sm font-semibold rounded-full">
              Voir le projet
            </a>
            )}

          </div>
        </div>
      ))}
    </div>

    <div id="image-modal" class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-75 z-50 hidden">
      <div class="relative p-4">
        <button 
          class="absolute top-2 right-2 text-white text-2xl font-bold cursor-pointer" 
          id="close-modal"
        >
          ✖
        </button>
        <img id="modal-image" class="max-w-[90vw] max-h-[90vh] rounded-lg" src="" alt="Agrandissement de l'image" />
      </div>
    </div>
  </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("image-modal");
    const modalImage = document.getElementById("modal-image");
    const closeModal = document.getElementById("close-modal");

    document.querySelectorAll(".modal-trigger").forEach(img => {
      img.addEventListener("click", function () {
        modalImage.src = this.getAttribute("data-image");
        modal.classList.remove("hidden");
      });
    });

    closeModal.addEventListener("click", function () {
      modal.classList.add("hidden");
    });

    modal.addEventListener("click", function (e) {
      if (e.target === modal) {
        modal.classList.add("hidden");
      }
    });
  });
</script>
