---
const listItems = [
{ title: "Symfony", image: `${import.meta.env.BASE_URL}images/html.webp` },
{ title: "Symfony", image: `${import.meta.env.BASE_URL}images/css.png` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/js.webp` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/py.png` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/java.png` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/php.png` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/bootstrap.png` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/symfony.webp` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/tailwind.png` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/mysql.png` },
  { title: "Symfony", image: `${import.meta.env.BASE_URL}images/postgresql.png` },
];

const listLogi = [
  { title: "Visual Studio Code",image: `${import.meta.env.BASE_URL}images/vsc.png` },
  { title: "Android Studio", image: `${import.meta.env.BASE_URL}images/android.png` },
  { title: "Umbrello",image: `${import.meta.env.BASE_URL}images/uml.png` },
  { title: "GitHub", image: `${import.meta.env.BASE_URL}images/github.png` },
  { title: "GitLab", image: `${import.meta.env.BASE_URL}images/gitlab.png` },
  { title: "Hugging Face", image: `${import.meta.env.BASE_URL}images/hf.png` },
];
---
<h2 class="text-3xl font-bold mb-6 uppercase tracking-wide">Langages maîtrisés</h2>

<div class="bg-gray-100 p-8">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-8 justify-center">
    {listItems.map((item) => (
      <div class="flex flex-col items-center text-center">
        <img src={item.image} alt={item.title} class="w-auto max-w-full h-20 object-contain" />
        <h3 class="text-lg font-semibold mt-3">{item.title}</h3>
      </div>
    ))}
  </div>
</div>

<h2 class="text-3xl font-bold mt-12 mb-6 uppercase tracking-wide">Logiciels maîtrisés</h2>
<div class="bg-gray-100 p-8">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-8 justify-center">
    {listLogi.map((item) => (
      <div class="flex flex-col items-center text-center">
        <img src={item.image} alt={item.title} class="w-auto max-w-full h-20 object-contain" />
        <h3 class="text-lg font-semibold mt-3">{item.title}</h3>
      </div>
    ))}
  </div>
</div>
