---
import { Image } from 'astro:assets';
import { profile } from '../../settings';
import SocialIcons from './SocialIcons.astro';
import ProfilePictures from '@/assets/moi.jpg';
import { getCollection } from 'astro:content';
import { template } from '@/settings';

const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0);
const { fullName, title } = profile;
---

<aside class="px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col">
  <div class="flex flex-col my-8 justify-between h-full">
    
    <!-- Section supérieure : image de profil + nom -->
    <div>
      <div class="flex flex-col items-center">
        <div class="w-40 mx-auto px-2">
          <Image
            class="w-full h-auto object-contain rounded-md shadow-md"
            src={ProfilePictures}
            alt={`Profile picture of ${fullName}`}
          />
        </div>
        <h1 class="text-lg font-black mt-8 hidden lg:block text-center">
          {title} <span>{fullName}</span>
        </h1>
      </div>

      <!-- Liens de navigation -->
      <div class="mx-4 mt-16">
        <ul class="space-y-4 menu grow shrink menu-md overflow-y-auto">
          <li>
            <a href={`${template.base}/`} class="text-lg">Accueil</a>
          </li>
          <li>
            <a href={`${template.base}/papers`} class="text-lg">Mes projets</a>
          </li>
          <li>
            <!-- Lien pour ouvrir le PDF dans un nouvel onglet -->
            <a href={`${template.base}/images/tableau.pdf`} target="_blank" class="text-lg">Voir le tableau de synthèse</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Réseaux sociauxtest -->
    <div class="mx-4">
      <SocialIcons/>
    </div>
  </div>
</aside>
